@use "src/global.scss";
#Skills {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8rem;
      row-gap: 2rem;
      li {
        display: flex;
        align-items: center;
        svg {
          margin-right: 1rem;
          font-size: 1.5rem;
        }

        &:nth-child(even) {
          display: flex;
          flex-direction: row-reverse;
          text-align: right;
          svg {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
